@media (max-width:1124px) {
   body {
      height: 100vh;
   }
   
   main {
      width: 50rem;
   }

   .container {
      margin: 0;
      padding: 20px;
   }

   .container header p{
      padding: 1px;
   }

   .image img {
      width: 250px;

   
   }

   form {
      flex-direction: column;
   }
}

@media (max-width:810px) {
   main {
      flex-direction: column;
      width: 35rem;
      height: 700px;
   }

   .container {
      padding: 20px 25px 0 25px;
   }

   .image img {
      width: 35rem;
      height: 230px;
      border-radius: 10px 14px 0 0;
   }

   .container header{
      padding-bottom: 0;
   }

   form{
      margin-top: 15px;
   }
   .input-group1 input {
      width: 230px;
   }

   .input-group2 input {
      width: 490px;
   }

   .btn {
      margin-top: 15px;
   }

   .login p {
      margin-top: 5px;
   }
}

@media (max-width: 560px) {
   main {
      width: 25rem;
   }

   .image img {
      width: 25rem;
      height: 205px;
   }

   .container {
      padding: 12px;
   }

   .container header h1 {
      text-align: center;
   }

   .container header p {
      line-height: 1.2rem;
   }

   .input-group1 input {
      width: 170px;
   }

   .input-group2 input {
      width: 370px;
   }

   .container p {
      font-size: 0.8rem;
   }

   .container p a{
      font-size: 0.8rem;
      line-height: 1.1rem;
   }
   .btn{
      width: 180px;
   }
}

@media (max-width: 400px) {
   main {
      width: 20rem;
      height: 550px;
   }

   /* ------ Container ------ */
   .container {
      margin-top: 3px;
   }

   .container header {
      padding: 0 0.8rem;
   }
   .container header h1 {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 0;
   }

   .container header p {
      margin-top: 8px;
      line-height: 1.2rem;
   }

   /* ------ Formulario ------*/
   .rigth {
      margin: 0 10px 0px 0;
   }

   .input-group1 input {
      width: 140px;
   }

   .input-group1 label {
      font-size: 0.9rem;
      margin-left: 5px;
   }

   .input-group2 input {
      width: 295px;
   }

   .input-group2 label {
      font-size: 0.9rem;
      margin-left: 5px;
   }

   .login p {
      margin-top: 12px;
   }

   .image img {
      display: none;
   }
}