*{
   margin: 0;
   padding: 0;
   font-family: "Roboto", sans-serif;
   box-sizing: border-box;
   font-size: 16px;
}

body {
   width: 100vw;
   height: 100vh;

   display: flex;
   justify-content: center;
   align-items: center;

   background: #080d8c;
}

main {
   width: 1120px;
   height: 650px;


   display: flex;
   justify-content: space-around;

   background: #fafafa;
   border-radius: 14px;
}

.image img {
   width: 490px;
   height: 650px;

   display: flex;
   align-items: center;
   justify-content: center;

   border-radius: 14px 0 0 14px;
   background: #F1B1D4;
}
/* ------ Main ------*/

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 60px;
}

/* ------ Header ------*/
.container header{
   padding-bottom: 50px;
}

.container header h1 {
   font-size: 32px;
   color: #2D292D;
   margin-bottom: 16px;
}

.container header p {
   font-size: 15px;
   color: #8C8C8C;
   padding: 0px;
}

/* ------ Form ------*/

.container form {
   display: flex;
   flex-direction: column;
}

/* ------ Input/label ------*/
.name, .password, .email {
   display: flex;
   flex-direction: column;
   padding: 2px;

   margin-bottom: 15px;
}

label {
   color: #2d292d;
}

.input-group1 {
   display: flex;
}

.input-group1 input {
   padding: 9px;
   width: 240px;

   background: #EBEFF2;
   border: solid 1px #EBEFF2;
   border-radius: 8px;
   outline: none;
}

.rigth {
   margin-right: 24px;
}

.input-group2 input {
   display: block;
   padding: 9px;
   width: 510px;

   background: #EBEFF2;
   border: solid 1px #EBEFF2;
   border-radius: 8px;
   outline: none;
}

/* ------ Texto/termos de contrato ------*/

.container p{
   font-size: 15px;
   color: #8C8C8C;

   margin-top: 17px;
}

.container p a{
   font-size: 15px;
   text-decoration: none;

   color: #080d8c;
   opacity: 0.8;
}

.container p a:hover{
   text-decoration: underline;
   transition: all 0.8s ease;
   opacity: 1;
}

/* ------ Button ------*/

.btn {
   width: 250px;
   padding: 10px;
   margin-top: 35px;
   
   color: white;
   background-color: #080d8c;
   opacity: 0.8;

   border-radius: 4px;

   outline: none;
   border: none;
}

.btn:hover {
   opacity: 1;
   transition: all 0.8s ease-out;
}

/* ------ Login ------*/
.login p {
   margin-top: 22px;
}