*{
   margin: 0;
   padding: 0;
   font-family: "Roboto", sans-serif;
   box-sizing: border-box;
   font-size: 16px;
}

body {
   width: 100vw;
   height: 100vh;

   display: flex;
   justify-content: center;
   align-items: center;

   background: #080d8c;
}

main {
   width: 1000px;
   height: 600px;


   display: flex;
   justify-content: space-around;

   background: #fafafa;
   border-radius: 14px;
}

.image img {
   width: 400px;
   height: 600px;

   display: flex;
   align-items: center;
   justify-content: center;

   border-radius: 14px 0 0 14px;
   background: #F1B1D4;
}
/* ------ Main ------*/

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 50px;

   position: relative;
}

/* ------ Header ------*/
.container header{
   top: 15px;
   position: absolute;
}

.container header h1 {
   font-size: 32px;
   color: #2D292D;
   margin-bottom: 16px;
}

.container header p {
   font-size: 15px;
   color: #8C8C8C;

}

/* ------ Form ------*/

.container form {
   display: flex;
   flex-direction: column;
}

.container form .input-group1 input{
   width: 140px;
}
